/* big credit for the design: https://codepen.io/1isten/pen/wvMdNPp */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#skenaarionappulat {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: rgb(0, 0, 0) 2px 0 10px;;
  border: rgb(0, 0, 0) width 5px;
  border-radius: 25px;
  border: 1px solid #d4d4d4;
  margin: 3px;
  width: 14%;
  height: 8vh;
}

#numero {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 0%;
  text-shadow: 0 0 3px #ffffff;
}

#voitto {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin:0%;
  margin-bottom: 30px;
  text-shadow: 0 0 3px #ffffff;
}

.controlscontainer {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  color: white;
}

.hardreset {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  color: white;
}

.skenaario {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; 100vh alunperin */
}

.slotcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.slot {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  border-radius: 7.5px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
  margin: 5px;
}

.slot .symbols {
  position: absolute;
  top: 0;
  left: 0;
  transition: top 5s;
}

.slot .symbol {
  width: 100px;
  height: 150px;
  font-size: 60px;
  line-height: 100px;
  display: block;
  text-align: center;
  padding-top: 25px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

