
/* KOLIKKO */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
  }
  
  .stats p:nth-last-child(1){
  margin-left: 50%;
  }
  .coin{
    height: 70px;
    width: 70px;
    position: relative;
    margin: 0px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .coin img{
    width: 70px;
  }
  .heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .tails{
    transform: rotateX(180deg);
  }
  @keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
  }
  @keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
  }
  
  
  /*
      NOPPA
  */
  
  .dice {
    position: sticky;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    transition: 1s ease;
  }
  
  @keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
  }
  
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #f6f3f0;
    transform-style: preserve-3d;
    background: linear-gradient(
        145deg, #dddbd8, #fff
    );
  }
  
  .face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #f6f3f0;
    transform: translateZ(-1px);
  }
  
  .face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #131210;
  }
  
  .front {
    transform: translateZ(25px);
  }
  
  .back {
    transform: rotateX(180deg) translateZ(25px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(25px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(25px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(25px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(25px);
  }
  
  .front::after {
    width: 15px;
    height: 15px;
    background: #f63330;
    margin: -8px 0 0 -8px;
  }
  
  .back::after {
    margin: -18px 0 0 -15px;
    box-shadow: 20px 0,
                0 13px,
                20px 13px,
                0 25px,
                20px 25px;
  }
  
  .top::after {
    margin: -15px 0 0 -15px;
    box-shadow: 20px 20px;
  }
  
  .bottom::after {
    margin: -18px 0 0 -18px;
    box-shadow: 13px 13px,
                26px 26px,
                26px 0,
                0 26px;
  }
  
  .right::after {
    margin: -15px 0 0 -15px;
    box-shadow: 20px 0,
    0 20px,
    20px 20px;
  }
  
  .left::after {
    margin: -18px 0 0 -18px;
    box-shadow: 13px 13px,
                25px 25px;
  }
  
  /*
    Roll Button styles
  */
  
  .roll {
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 0.2rem 0 0.2rem;
  }